body {
  margin: 0;
}

html {
  background-color: #002b36;
  color: #93a1a1;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

pre {
  font-family: 'Ubuntu Mono', Monospace;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav a {
  display: block;
  color: #859900;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 1.5;
  text-align: left;
}

a {
  color: #dc322f;
  text-decoration: none;
  font-weight: 700;
}

a:hover { color: #fdf6e3; }

.hr {
  color: #2aa198;
  font-weight: 700;
}

.logo {
  font-weight: 700;
  color: #fff;
}

.sidebar {
  padding: 1em;
  background-color: #073642;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar-section {
  margin: .5em auto;
  padding: 0;
  font-size: 1em;
  text-align: center;
}

.sidebar-header {
  font-weight: 700;
  color: #b58900;
  margin-top: 1em;
}

.sidebar-section pre {
  margin: 0;
  padding: 0;
}

.desktop-only {
  display: none;
}

.content {
  margin: 0 auto;
  padding: 1em;
  padding-left: 2em;
}

.comments {
  max-width: 700px;
  margin: 2em;
}

@media (min-width: 450px) {
  .sidebar {
    flex-direction: row;
  }
}

@media (min-width: 1050px) {
  .content {
    margin-left: 18rem;
  }

  .sidebar {
    padding: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .desktop-only {
    display: inline-block;
  }

  .comments {
    margin-left: 18em;
    padding-left: 2em;
    padding-right: 1em;
  }
}

.content p, .content ol, .content ul {
  max-width: 700px;
  line-height: 1.4em;
}

.content ol > li {
  margin: 0.5em;
}

.content h1 {
  color: #ffffff;
  font-size: 3em;
  margin: 0;
  margin-top: 0.5em;
}
.content h2 {
  color: #268bd2;
  font-size: 2em;
  margin: 0;
  margin-top: 0.5em;
}

.blogs {
  font-size: 1.5em;
}

.blogs li {
  list-style-type: none;
}

.blogs a {
  color: #268bd2;
}

.frontpage {
  max-width: 650px;
}

.headshot {
  border-radius: 1em;
  margin-left: 1em;
  float: right;
  width: 12em;
  height: 12em;
}
