<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Website of London based software developer with years of experience developing open source software.">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="google-site-verification" content="cfbZd95KBiKMJGQVeLZwFfHAyeLlTH9ZDwyxi5xW9Os">
<meta name="url" content="https://exec64.co.uk/">
<meta name="identifier-URL" content="https://exec64.co.uk/">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<meta name="referrer" content="never">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'">

<meta name="theme-color" content="#002b36">

<meta name="twitter:creator" content="@eXeC64">
<link rel="me" href="mailto:harry@exec64.co.uk">

<title>{{.Title}}</title>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/icons.css" rel="stylesheet" />
<link href="/css/prism.css" rel="stylesheet" />
{{ if .RSSlink }}
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
</head>
