<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Website of London based software developer">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="google-site-verification" content="cfbZd95KBiKMJGQVeLZwFfHAyeLlTH9ZDwyxi5xW9Os">
<meta name="url" content="https://exec64.co.uk/">
<meta name="identifier-URL" content="https://exec64.co.uk/">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<meta name="referrer" content="never">

<meta name="theme-color" content="#002b36">

<link rel="me" href="mailto:me@harry.pm">

<title>{{.Title}}</title>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/prism.css" rel="stylesheet" />
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
</head>
