<div class="sidebar">
<pre class="sidebar-section">
<span class="white bold">
     __  __      ___  __   _  _   
  ___\ \/ /___  / __\/ /_ | || |  
 / _ \\  // _ \/ /  | '_ \| || |_ 
|  __//  \  __/ /___| (_) |__   _|
 \___/_/\_\___\____/ \___/   |_|  
</span>
<span class="yellow bold">Harry "eXeC64" Jeffery</span>
<span class="hr">----------------------</span>
<a href="mailto:harry@exec64.co.uk">harry@exec64.co.uk</a>

<span class="yellow bold">PGP Fingerprint</span>
<span class="hr">------------------------</span>
B98F 9EB5 502E 3595 E4CE
441E 7BE4 075E 24AB 8942

</pre>
<pre class="sidebar-section">
<span class="nav">
<a href="{{.Site.BaseURL}}">[ About Me ]</a>
<a href="{{.Site.BaseURL}}/blog">[   Blog   ]</a>
<a href="https://github.com/eXeC64">[  GitHub  ]</a>
<a href="https://uk.linkedin.com/in/harryjeffery">[ LinkedIn ]</a>
</span>

© Harry Jeffery {{ .Site.LastChange.Year }}
</pre>

</div>
