<div class="sidebar">
<div class="sidebar-section">
<pre class="logo">     __  __      ___  __   _  _
  ___\ \/ /___  / __\/ /_ | || |
  / _ \\  // _ \/ /  | '_ \| || |_
  |  __//  \  __/ /___| (_) |__   _|
 \___/_/\_\___\____/ \___/   |_|</pre>

<div class="sidebar-header">Harry Jeffery</div>
<a href="mailto:me@harry.pm">me@harry.pm</a>
</div>

<div class="sidebar-section">
<ul class=nav>
  <li><a href="{{.Site.BaseURL}}"><i class="icon-bio"></i> Bio</a></li>
  <li><a href="{{.Site.BaseURL}}/blog"><i class="icon-blog"></i> Blog</a></li>
  <li><a href="https://github.com/eXeC64"><i class="icon-github"></i> GitHub</a></li>
  <li><a href="https://uk.linkedin.com/in/harryjeffery"><i class="icon-linkedin"></i> LinkedIn</a></li>
</ul>
</div>

<div class="sidebar-section desktop-only">
© Harry Jeffery {{ .Site.LastChange.Year }}
</div>

</div>
