{{ partial "head.html" . }}

<body>

{{ partial "sidebar.html" . }}

<div class="content frontpage">
<h1>Hi, I'm Harry</h1>

<h2>Bio</h2>
<img class="headshot" src="/img/profile.jpg" />
<p>
London based software developer with years of experience writing open source
software in <span class="bold">C, C++, Python, and Go</span>.
</p>

<p>
Primarily a back-end developer, who gets his kicks from optimising slow software
and designing elegant solutions.
</p>

<h2>Experience</h2>

<p>
Most of my work can be found on <a href="https://github.com/eXeC64">GitHub</a>.
</p>

<p>Some of the more interesting projects I've worked on include:</p>
<ul>
  <li><a href="https://github.com/MantidProject/Mantid">Mantid</a> - <span class="white bold">C++/Python</span> - Data analysis tool for neutron scattering experiments</li>
  <li><a href="https://github.com/eXeC64/imv">imv</a> - <span class="white bold">C</span> - Simple X11/Wayland image viewer for tiling window managers</li>
  <li><a href="http://nh2.wecreatestuff.com">Nightmare House 2</a> - <span class="white bold">C++</span> - 3D horror game for Windows, OSX, and Linux</li>
  <li><a href="https://github.com/eXeC64/Rosella">Rosella</a> - <span class="white bold">Go</span> - Lightweight IRC daemon for privacy conscious users</li>
  <li><a href="https://github.com/eXeC64/CSSRadar">CSSRadar</a> - <span class="white bold">C</span> - Cheat program for Counter-Strike:Source on Linux</li>
  <li><a href="https://github.com/eXeC64/Hexagon">Hexagon</a> - <span class="white bold">C++</span> - Recreation of SuperHexagon, a videogame</li>
  <li><a href="https://github.com/eXeC64/vtf2png">vtf2png</a> - <span class="white bold">C</span> - VTF to PNG conversion tool</li>
  <li><a href="https://github.com/eXeC64/vpkex">vpkex</a> - <span class="white bold">C</span> - VPK archive extractor</li>
</ul>
</div>
</body>
</html>
